body{
    color: white;
    font-weight: 600;
}



.my-container{
    /* max-width: 80% ; */
    margin: 0 auto ;
}

#formRuleta{
    /* max-width: 100% ; */
    margin: 0 auto ;
    
}

.grid-container{
    display: grid;

    grid-template-columns: 100%;
    gap: 2rem;
}